@page

@{
}

<script src="~/lib/jquery/dist/jquery.min-3.5.js"></script>
<script>
    $(document).ready(function () {
        LoadData();
    });
    const monthNames = ["Jan", "Feb", "Mar", "Ap", "May", "Jun",
        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
    ];
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function LoadData() {
        var queryId = getUrlVars()["id"];
        var fromDate = getUrlVars()["startDate"];
        var toDate = getUrlVars()["endDate"];

        $.ajax({
            type: "GET",
            url: "/api/ClientAppointment/GetAppointments?id=" + queryId + "&startDate=" + fromDate + "&endDate=" + toDate,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function (_data) {
            if ($.fn.DataTable.isDataTable('#table_data')) {
                $('#table_data').DataTable().destroy();
            }

            $('#table_data tbody').empty();
            if (_data.length > 0) {

                $('#table_data').DataTable({
                    "data": _data,
                    "columns": [
                        {
                            title: 'Date',
                            data: 'date',
                            "render": function (data) {
                                var date = new Date(data);
                                /*var month = date.getMonth() + 1;*/
                                return date.getDate() + "-" + (monthNames[date.getMonth()]) + "-" + date.getFullYear();
                                /*return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();*/
                            }
                        },
                        { title: 'Client', data: 'client_name' },
                        { title: 'Appointment Type', data: 'appointment_type' },
                        { title: 'Duration', data: 'duration' },
                        { title: 'Revenue', data: 'revenue' },
                        { title: 'Cost', data: 'cost' }
                    ],
                    searching: true,
                    "ordering": true
                });
            }
            else {
                // addNoRecordRow();
            }
        })
        $.extend(true, $.fn.dataTable.defaults, {
            "searching": false,
            "ordering": false
        });
    }
</script>

<h2>Details</h2>
@*<div class="row pull-right">
        <strong> Available Balance: </strong> <label id="availableBalance"></label>
    </div>*@
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>

<table id="table_data" class="table table-striped table-hover datatable dt-responsive nowrap datatable" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    <thead>
        <tr>
            <th>Date</th>
            <th>Client</th>
            <th>Appointment Type</th>
            <th>Duration</th>
            <th>Revenue</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody id="tbody_data">
        <tr>
        </tr>

    </tbody>
</table>

<!-- container-fluid -->
